.interval {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding-top: 10%;

  > div {
    width: 100%;
  }

  h3 {
    text-align: center;
    text-transform: uppercase;
    font: {
      family: "Roboto";
      weight: 900;
      size: 3vh;
    }
  }

  .btnContainer {
    display: flex;
    justify-content: space-between;
    margin: 10% 0%;
    padding: 0 5%;
    font: {
      size: 3vh;
      family: "Roboto";
      weight: 600;
    }
  }
}
