@import "./navigation";
@import "./non-stop";
@import "./interval";

.settings {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-rows: 23vh auto 15vh;
  justify-content: center;

  .card {
    grid-row: 2/3;
    height: 63vh;
    width: 80vw;
    background: $blackColor;
    border-radius: 7%;
    padding: 5%;

    .setBtn {
      background: $redColor;
      width: 15vw;
      text-align: center;
      border-radius: 10%;
    }
  }

  .goTimer {
    display: flex;
    justify-self: right;
    align-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    text-decoration: none;
    color: white;
    font: {
      size: 3vh;
      weight: 900;
      family: "Roboto";
    }

    img {
      width: 30px;
      height: 30px;
      object-fit: contain;
      margin-right: 20%;
    }
  }
}
